<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mexico</string>
	<string>Brazil </string>
	<string>France </string>
	<string>Spain</string>
	<string>Costa Rica</string>
	<string>Italy </string>
	<string>Ireland </string>
	<string>Portugal</string>
	<string>Canada </string>
	<string>D.R. </string>
	<string>Chile</string>
	<string>Switzerland </string>
</array>
</plist>
