<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>Egg Benedict</string>
		<string>Mushroom Risotto</string>
		<string>Full Breakfast</string>
		<string>Hamburger</string>
		<string>Ham and Egg Sandwich</string>
		<string>Creme Brelee</string>
		<string>White Chocolate Donut</string>
		<string>Starbucks Coffee</string>
		<string>Vegetable Curry</string>
		<string>Instant Noodle with Egg</string>
		<string>Noodle with BBQ Pork</string>
		<string>Japanese Noodle with Pork</string>
		<string>Green Tea</string>
		<string>Thai Shrimp Cake</string>
		<string>Angry Birds Cake</string>
		<string>Ham and Cheese Panini</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>20</string>
		<string>10</string>
		<string>5</string>
		<string>20</string>
		<string>7</string>
		<string>8</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>8</string>
		<string>7</string>
		<string>9</string>
		<string>6</string>
		<string>2</string>
	</array>
	<key>PrepTime</key>
	<array>
		<string>30 min</string>
		<string>30 min</string>
		<string>20 min</string>
		<string>30 min</string>
		<string>10 min</string>
		<string>1 hour</string>
		<string>45 min</string>
		<string>5 min</string>
		<string>30 min</string>
		<string>8 min</string>
		<string>20 min</string>
		<string>20 min</string>
		<string>5 min</string>
		<string>1.5 hour</string>
		<string>4 hours</string>
		<string>10 min</string>
	</array>
</dict>
</plist>
