<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>Platinum</string>
		<string>Gold</string>
		<string>Silver</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>500</string>
		<string>300</string>
		<string>100</string>
	</array>
	<key>PrepTime</key>
	<array>
		<string>500</string>
		<string>300</string>
		<string>100</string>
	</array>
</dict>
</plist>
